<!-- /views/play_human.erb -->

<% unless round == 10 %>
  <h3>Round <%= round %></h3>
<% else %>
  <h3>Round <%= round - 1 %></h3>
<% end %>

<% player_type = "Human" %>
<% if round % 2 == 0 %>
  <% previous_player = "X" %>
  <% current_player = "O" %>
<% else %>
  <% previous_player = "O" %>
  <% current_player = "X" %>
<% end %>
<% if round > 1 && result == "" %>
  <p><%= player_type %> <%= previous_player %> took  <%= move %> in round <%= round -1 %>.</p>
<% elsif round > 1 && result != "" %>
  <p><%= result %> <%= current_player %>!<p>
<% end %>

<div class="blue">
  <h3>Please Select a Location</h3>
  <form method="post" action="play">
    <select type="text" name="location">
      <option value="t1">t1</option>
      <option value="t2">t2</option>
      <option value="t3">t3</option>
      <option value="m1">m1</option>
      <option value="m2">m2</option>
      <option value="m3">m3</option>
      <option value="b1">b1</option>
      <option value="b2">b2</option>
      <option value="b3">b3</option>
    </select>
    <input type="submit" value="Submit">  <!-- button to submit letter to "post '/guess' do" route for evaluation -->
  </form>
</div>

<!-- figure out how to show/hide this with a link/button/toggle
<div class="legend red">
  <table>
    <tr>
      <th>Locations</th>
    <tr>
      <td>Top row:</td>
      <td>t1, t2, t3</td>
    </tr>
    <tr>
      <td>Middle row:</td>
      <td>m1, m2, m3</td>
    </tr>
    <tr>
      <td>Bottom row:</td>
      <td>b1, b2, b3</td>
    </tr>
  </table>
</div>
-->