<!-- /views/play_ai.erb -->

<h3>Round <%= round %></h3>
<p><%= ptc %> <%= mc %> took <%= move %> in round <%= round %>.</p>
<p>Press <b>Next</b> for <%= ptn %> <%= mn %>'s next move.</p>
<button><a href=<%= route %>>Next</a></button>